<div class="row percent-padded">
  <div class="small-12 large-uncentered columns">
    <div class="row">
      <div class="large-7 large-uncentered columns">
        <p class="form-header-text">Sign In:</p>
        <%= form_for @user, :url => sessions_path do |user| %>
          <%= user.text_field 'email', :placeholder => 'Email' %>
          <%= user.password_field 'password', :placeholder => 'Password' %>
          <div class="button-border"><%= user.submit 'Sign In' %></div>
          <p class="shipping-restriction-text"><%= link_to 'Forgot your password?', forgot_password_path %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>