<div class="row percent-padded">
  <div class="small-12 large-uncentered columns">
    <div class="row">
      <div class="large-7 large-uncentered columns">
        <p class="form-header-text">Edit Info:</p>
        <%= form_for @user do |user| %>
          <%= user.text_field 'email', :placeholder => 'Email' %>
          <%= user.text_field 'name', :placeholder => 'Name (ex: Jordan Nemrow)' %>
          <%= user.text_field 'cell', :value => @user.cell_form_formatted, :placeholder => 'Cell Phone (ex: (555) 555-555)', :class => 'cell_formatted' %>
          <div class="button-border"><%= user.submit 'Update' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    Inputs.init();
  });
</script>