<div class="row">
  <div class="small-12 columns padded-container">
    <div class="header_padding"></div>
    <p class="profile-cat-title">Orders:</p>
    <% if @orders.count == 0 %>
      <p class="no-orders-yet-text">No orders yet...<br>
        to place an order, simply text a photo<br>
        along with the words "fly" + recipient<br>
        example: "fly grandma"
        <p>
    <% else %>
      <ul class="large-block-grid-4">
      <% @orders.each do |order| %>
        <li class="recent_order_shells">
          <%= image_tag order.picture.jpg_source %>
          <p><%= order.formatted_date %></p>
          <%= render :partial => 'shared/address', :locals => {:address => order.address} %>          
        </li>
      <% end %>
      </ul>
    <% end %>

    <p class="profile-cat-title">Addresses:
      <span class="add-new-address">
        <%= link_to "+ Add Recipient", new_user_address_path(@user) %>
      </span>
    </p>
    <ul class="large-block-grid-4">
      <% @addresses.each do |address| %>
        <li class="recent_order_shells">
          <%= render :partial => 'shared/address', :locals => {:address => address} %>
        </li>
      <% end %>
    </ul>

    <div class="row">
      <div class="large-3 columns profile-squares">
        <div class="general-profile-box">
          <p class="profile-cat-title">Personal Information:</p>
          <%= render :partial => 'shared/personal_info' %>
          <%= link_to 'Edit', edit_user_path(@user), :class => 'edit-general-fields' %>
        </div>
      </div>

      <div class="large-4 columns profile-squares">
        <p class="profile-cat-title">Paypal Status:</p>
        <div class="general-profile-box">
          <% if @approval_status != 'ACTIVE' %>
            <%= link_to 'Activate Paypal Now!', PaypalPreapproval.get_preapproval_url(@user) %>
          <% else %>
            <p><%= @approval_status %></p>
          <% end %>
        </div>
      </div>

      <div class="large-4 columns profile-squares"></div>
      <div class="large-4 columns profile-squares"></div>
    </div>
  </div>
</div>
