<div class="row">
  <div class="small-10 small-centered columns three-step-uni">
    <div class="row">
      <div class="large-3 columns steps-shell">
        <%= image_tag 'steps_1.png' %>
        <p>Take a picture with your phone as you normally would</p>
      </div>
      <div class="large-1 columns steps-shell">
        <%= image_tag 'steps_arrow.png', :class => 'steps_arrow' %>
      </div>
      <div class="large-4 columns steps-shell">
        <%= image_tag 'steps_2.png' %>
        <p>Text the photo to <span>343434</span> with the word <span>booyah</span></p>
      </div>
      <div class="large-1 columns steps-shell">
        <%= image_tag 'steps_arrow.png', :class => 'steps_arrow' %>
      </div>
      <div class="large-3 columns steps-shell">
        <%= image_tag 'steps_3.png' %>
        <p>Receive your print in the mail in a few days</p>
      </div>
    </div>
  </div>
</div>