<%= image_tag 'family_beach_run.jpg', :class => 'family_beach_run_img' %>
<div class='home-small-steps-outer-container'>
  <div class='home-small-steps-inner-container'>
    <%= image_tag 'three_steps_small.png', :class => 'three_steps_small' %>
  </div>
</div>
<div class="row">
  <div class="home-tagline-container">
    <div class="row">
      <div class="small-12 columns">
        <h1 class="tagline">Pictures from your phone, delivered to your home.</h1>
        <h3 class="sub-tagline">Getting photos from your phone printed is as easy as sending a text message</h3>
      </div>
    </div>
  </div>
</div>
<div class="home-page-block-2">
  <%= render :partial => 'shared/three_steps' %>
  <div class="row"> 
    <div class="large-6 columns">
      <%= form_for @user, :url => users_path, :html => {:class => 'home-page-new-user-signup'} do |user| %>
        <%= user.text_field 'email', :placeholder => 'Email' %>
        <%= user.text_field 'name', :placeholder => 'Name (ex: Jordan Nemrow)' %>
        <%= user.text_field 'cell', :placeholder => 'Cell Phone (ex: (555) 555-555)', :class => 'cell_formatted' %>
        <%= user.password_field 'password', :placeholder => 'Password' %>
        <div class="button-border"><%= user.submit 'Start Printing!' %></div>
      <% end %>
    </div> 
    <div class="large-6 columns">
      <div class="picture-description-shell">
        <p>$1.50</p>
        <p>per print</p>
        <p>prints are 4" X 6" postcards</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    Inputs.init();
  });
</script>


