<div class="row">
  <div class="row home-first-content">
    <div class="large-7 columns">
      <h1 class="tagline">Never lose touch with friends and family</h1>
      <h3 class="sub-tagline">Send photographs through the mail<br> with just a text message</h3>
    </div>
    <div class="large-5 columns">
      <div class="sample-photo-shell">
        <%= image_tag 'sample_photo.png' %>
      </div>  
    </div>
  </div>
</div>
<div class="home-page-block-2">
  <div class="row">
    <div class="large-7 columns">
      <div class="row">
        <%= render :partial => 'shared/three_steps_small' %>
      </div>
      <div class="row picture-description-shell">
        <div class="picture-desc-separator"></div>
        <div class="small-6 columns">
          <div class="desc-left">
            <p>$2</p>
            <p>per print</p>
            <p>(free shipping)</p>
          </div>
        </div>
        <div class="small-6 columns">
          <p class="desc-right">4" X 6" glossy print</p>
        </div>
      </div>
    </div>
    <div class="large-5 columns">
      <div class="row">
        <div class="large-12 columns">
          <%= form_for @user, :url => users_path, :html => {:class => 'home-page-new-user-signup'} do |user| %>
            <h4>Sign up and get your first print free!</h4>
            <%= user.text_field 'email', :placeholder => 'Email' %>
            <%= user.text_field 'name', :placeholder => 'Name (ex: Jordan Nemrow)' %>
            <%= user.text_field 'cell', :placeholder => 'Cell Phone (ex: (555) 555-555)', :class => ('cell_formatted' unless Rails.env.test?)  %>
            <%= user.password_field 'password', :placeholder => 'Password' %>
            <div class="button-border"><%= user.submit 'Start Printing!' %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => 'layouts/footer' %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    Inputs.init();
  });
</script>


