<h1>Your Address</h1>
<%= form_for @address, :url => user_addresses_path(current_user) do |f| %>
  <%= f.text_field 'address_line1', :placeholder => 'Address Line 1' %>
  <%= f.text_field 'address_line2', :placeholder => 'Address Line 2' %>
  <%= f.text_field 'city', :placeholder => 'City' %>
  <%= f.text_field 'state', :placeholder => 'State' %>
  <%= f.text_field 'zip', :placeholder => 'Zip' %>
  <%= f.text_field 'country', :placeholder => 'Country' %>
  <%= f.submit 'Add Address' %>
<% end %>