<div class="row percent-padded">
  <div class="small-12 large-uncentered columns">
    <div class="row">
      <div class="large-7 large-uncentered columns">
        <p class="form-header-text">Who do you want to send photos to?</p>
        <%= form_for @address, :url => user_addresses_path(current_user) do |f| %>
          <% if current_user.addresses.count == 0 %>
            <div class="input-with-helper-shell">
              <%= f.text_field 'name', :placeholder => 'Name' %>
              <p>You can add more later<br>This is just to get you started</p>
            </div>
          <% else %>
            <%= f.text_field 'name', :placeholder => 'Name' %>
          <% end %>
          <%= f.text_field 'address_line1', :placeholder => 'Address 1' %>
          <%= f.text_field 'address_line2', :placeholder => 'Address 2' %>
          <%= f.text_field 'city', :placeholder => 'City' %>
          <%= f.text_field 'state', :placeholder => 'State', :maxlength => 2 %>
          <%= f.text_field 'zip', :placeholder => 'Zip' %>
          <div class="input-with-helper-shell">
            <%= f.text_field 'keyword', :placeholder => 'Keyword (ex: grandma)' %>
            <p>Rather than texting your reciepients full name, just send us their nickname. For example, if you want to send a photo to your grandma, simply set her nickname to ‘grandma’ then text us "fly grandma".</p>
          </div>
          <div class="input-with-helper-shell">
            <%= f.check_box 'default', :id => 'default-checkbox' %>
            <label for="default-checkbox">Make this address your default</label>
            <p>When you text in a picture with just the word "fly" in the message (without a recipient), it will be delivered to your default address.</p>
          </div>
          <%= f.hidden_field 'country', :value => 'US' %>
          <div class="button-border"><%= f.submit current_user.preapproval ? 'Add Address' : 'Continue to Paypal' %></div>
          <p class="shipping-restriction-text">*Shipping to US only</p>
        <% end %>
      </div>
    </div>
  </div>
</div>