<%= render :partial => 'shared/admin_sub_nav' %>
<div class="row percent-padded">
  <div class="small-12 large-uncentered columns">
    <p class="form-header-text">Users:</p>
    <table>
      <tr>
        <td>Total:</td>
        <td><%= @user_count %></td>
      </tr>
      <tr>
        <td>Completed:</td>
        <td><%= @complete_users %></td>
      </tr>
    </table>
    <table>
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Cell</th>
        <th>Activated?</th>
        <th>Member Since</th>
        <th>Credits</th>
        <th>Orders</th>
        <th>Addresses</th>
      </thead>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, admin_user_path(user) %></td>
          <td><%= user.email %></td>
          <td><%= user.cell %></td>
          <td><%= user.account_active? %></td>
          <td><%= formatted_date(user.created_at) %></td>
          <td><%= user.available_credits %></td>
          <td><%= user.order_count %></td>
          <td><%= user.addresses.count %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    // Admin.init();
  });
</script>