<div class="row header-main <%= "header-for-root" if current_page?(root_url) %>">
  <div class="small-12 columns padded-container">
    <%= link_to image_tag 'booyah-logo-2-web.png', :class => 'logo-main' %>
    <div class="top-nav-right">
      <ul>
        <% if current_user %>
          <li>Hello <%= current_user.first_name %></li>
          <li><%= link_to 'My Account', user_path(current_user) %></li>
          <li><%= link_to 'Signout', signout_path %></li>
        <% else %>
          <li class="divider"></li>
          <li><%= link_to 'Sign Up', signup_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign In', signin_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>