<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><%= link_to image_tag('booyah-logo-2-web.png', :class => 'header-logo'), root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section <%= 'top-bar-section-homepage' if current_page?(root_path) %>">
    <ul class="right">
       <% if current_user %>
          <li><%= link_to 'My Account', user_path(current_user) %></li>
          <li><%= link_to 'Signout', signout_path %></li>
        <% else %>
          <li class="divider"></li>
          <li><%= link_to 'Sign Up', signup_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign In', signin_path %></li>
        <% end %>
    </ul>
  </section>
</nav>
