<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="<%= aws_web_image_path %>/pigeon-600px315px.jpg"/>
    <meta property="og:title" content="Pigeon"/>
    <meta property="og:url" content="http://www.pigeonpic.com"/>
    <meta property="og:site_name" content="Pigeon"/>
    <meta property="og:description" content="Send physical photos to your friends &amp; family with just a text message."/>
    <meta name="description" content="Send physical photos to your friends &amp; family with just a text message." />

    <title>Pigeon</title>
    <link href='http://fonts.googleapis.com/css?family=Cabin:700|PT+Sans|Comfortaa:700' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render :partial => 'layouts/google_analytics' %>
    <%= render :partial => 'layouts/homepage_css' if current_page?(root_path) %>
  </head>

  <body>
    <%= render :partial => 'layouts/header' %>
    <div class="row main_row_container">
    <%= render :partial => 'layouts/notice_and_errors' %>
    <%= yield %>
    </div>
    <%= render :partial => 'layouts/footer' unless current_page?(root_path) %>
  </body>
</html>
